@import "tailwindcss";
@config "../tailwind.config.ts";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #eeeeee;
  color: #4b5563;
}

/* Custom scrollbar for light theme */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #c4c4c4;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a0a0a0;
}